<ion-header class="parallax-obj parallax-translate-obj">
  <br />
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">{{ 'HELP' | translate }}</ion-title>
    <ion-buttons *ngIf="role == 'admin'" slot="end">
      <ion-button color="primary" (click)="openAdd()">
        <ion-icon slot="icon-only" name="ios-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="bg-img bckg">
    </div>
    <div class="wrap-interval pdl-30 pdr-30">
      <div class="core-float">
        <br />
        <ion-label class="txt-dark fs-12 uppercase">{{ 'EQUIPMENT' | translate }}:</ion-label>
        <ion-item lines="none" class="bg-white bdra-30 mgt-10 shadow-1 bg-light">
          <ion-select interface="popover" class="selection" [(ngModel)]="device" name="device">
            <ion-select-option value="{{equipment.model}}" *ngFor="let equipment of equipments">{{equipment.model}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <br />
        <div class="brand">
          <p class="fs-12 txt-dark pdl-30 pdr-30">{{ 'TRBSUB' | translate }}</p>
        </div>
        <br />
        <div class="main-form">
          <form novalidate>
            <div class="bg-white mgt-10 shadow-1 bg-light">
              <ion-chip class="tag" *ngFor="let word of keywords ; let i= index">
                {{ word }}
                <ion-icon name="close-circle" (click)="removeKey(i)"></ion-icon>
              </ion-chip>
              <ion-input type="text" [(ngModel)]="keyword" name="keyword" (ionChange)="addKeyword(keyword.trimStart())"
                (ionBlur)="addKeywordOff(keyword.trimStart())"></ion-input>
            </div>
            <br />
            <ion-button shape="round" expand="block" color="primary" fill="solid" class="uppercase spacing1 fw-600"
              type="submit" (click)="getTroubleshoot('1')">
              {{ 'SEARCH' | translate }}
            </ion-button>
            <br />
            <br />
            <p style="text-align: center;" *ngIf="result == ''">{{ 'NOITEM' | translate }}</p>
            <ion-item *ngFor="let trouble of result">
              <ion-label>
                <h2>{{ trouble.title }}</h2>
                <p>{{trouble.content}}</p>
              </ion-label>
            </ion-item>
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>
</ion-content>