<div class="bg">
  <div class="brand">
    <p class="fs-12 txt-light pdl-30 pdr-30">Selecione seu Idioma / Select your Language / Seleccione su Idioma</p>
  </div>
  <ion-row>
    <ion-col>
      <div class="tres" (click)="openLogin('pt')">
        <a slot="bottom" class="ti-grid">Pt</a>
        <a class="text-grid">Português</a>
      </div>
    </ion-col>
    <ion-col>
      <div class="tres" (click)="openLogin('en')">
        <a slot="bottom" class="ti-grid">En</a>
        <a class="text-grid">English</a>
      </div>
    </ion-col>
    <ion-col>
      <div class="tres" (click)="openLogin('es')">
        <a slot="bottom" class="ti-grid">Es</a>
        <a class="text-grid">Español</a>
      </div>
    </ion-col>
  </ion-row>
</div>